@import "tailwindcss";
@plugin "daisyui";

@layer base {
    h1 {
    @apply text-4xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-xl font-bold;
    }
    h4 {
        @apply text-lg font-bold;
    }
    h5 {
        @apply text-sm font-bold;
    }
    h6 {
        @apply text-xs font-bold;
    }

    body {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        background-color: #FBFEFC;
        color: #202020;
    }

    /* DELETE: browser default autofill bg */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: #202020 !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}

@layer utilities {
    /* TODO: Create custom button styles */
    .btn-primary {
        @apply bg-[#5BB98B] border-[#4daa7d] text-white hover:bg-[#4daa7d] shadow-[0_2px_3px_0_#5BB98B] active:shadow-none
    }

    /* TODO: Create custom text styles */
    .text-primary {
        @apply text-[#5BB98B]
    }
}

.text-white {
    @apply text-[#fbfefc]
}

.text-black {
    @apply text-[#202020]
}
